body {
  font-family: 'Roboto Mono', monospace;
  min-height: 600px;
  background-image: url('https://recreio.uol.com.br/media/_versions/universo/sistema_solar_capa_widelg.jpg');
  background-color: #000000;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  margin: auto;
  text-align: center;
  padding: 20px;
  margin-top: 150px;
  /* border: 1px solid rgb(253, 252, 252); */
  width: 600px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
}

label {
  color: white;
}

button {
  margin-top: 12px;
  padding: 8px;
  border-radius: 10px;
  background: #4353e2;
  width: 125px;
  border: 1px solid black;
}

button:hover{
  background-color: #2d02ec;
}

h2 {
  color: #ffffff;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}


.imprimir{
  margin-top: 50px;
  padding: 40px;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  color: #ffffff;
  margin: auto;
  height: 90px;
}

.opcoes{
  padding: 50px;
  
}

.lista{
  width: 100px;
  padding: 5px;
  border: 1px solid black;
}

.fundo{
  color: white;
  margin-bottom: 0%;
  padding: 0;
}
